@using ArcaneTinmen.Models
@model ArcaneTinmen.ViewModels.SleeveListViewModel

@{ 
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@foreach (Sleeve sleeve in Model.Sleeve.ToList())
{
    @Html.Partial("SleeveSummary", sleeve);
    <br />
}

