@model ArcaneTinmen.ViewModels.SleeveListViewModel
@using ArcaneTinmen.Models

@{
    ViewBag.Title = "Index";

    double SleeveCount = Model.Sleeves.Count();
    double SleeveAngle = (SleeveCount * 5 / 2 - SleeveCount * 5) - 2.5;
}



<section class="section form-search">
    <form action="index_submit" method="get" accept-charset="utf-8">
        <h2>Find Your Fit</h2>
        <div class="input-field input-field-search">
            <span class="icon icon-search"></span>
            <input type="search" name="Search Sleeves" id="searchForGame" placeholder="Insert Board Game Name ...">
        </div>
        <p class="section-divider">or</p>
        <h2>Pick Your Sleeve</h2>
    </form>

    <div class="modal modal-sleeve" style="display: none;">
        <a class="modal-close js-modal-close">
            <img src="/dist/img/icons/btn-close.svg" alt="Close button" />
        </a> 
        <div class="modal-inner">
            <article class="article-sleeve article">
                <div class="sleeve-img">
                    <div class="sleeve js-sleeve">
                        <div class="sleeve-overlay"></div>
                        <div class="card" id="js-sleeve-card">
                            <h3 class="js-sleeve-name"></h3>
                            <img id="js-sleeve-badge" src="" alt="Small">
                        </div>
                    </div>
                </div>
                <section class="section-dl section sleeve-info modal-dl">
                    <h2 class="js-sleeve-name"></h2>
                    <dl>
                        <dt class="dl-price">
                            Price:
                        </dt>
                        <dd class="dl-price" id="js-sleeve-price"></dd>
                        <dt>
                            ProductID:
                        </dt>
                        <dd id="js-sleeve-id"></dd>
                        <dt>
                            Description:
                        </dt>
                        <dd id="js-sleeve-description"></dd>
                        <dt>
                            Dimensions:
                        </dt>
                        <dd id="js-sleeve-dimensions"></dd>
                        <dt>
                            Stock amount:
                        </dt>
                        <dd id="js-sleeve-stock"></dd>
                        <dt>
                            Fits games like:
                        </dt>
                        <dd id="js-sleeve-games">
                            Munchkin, Monopoly, Risk, Axis of Evil, Dominion
                        </dd>
                    </dl>
                    <form action="/Cart/AddToCart" method="post" class="order-controls">
                        <input id="js-sleeve-id-hidden" name="SleeveId" type="hidden" value="">
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="number" value="1" id="js-sleeve-order-amount" name="SleeveAmount" />
                        <input type="submit" class="btn btn-orange" value="Add to cart" />
                    </form>

                </section>
            </article>
            <input id="SleeveId" name="SleeveId" type="hidden" value="AT-10403">
        </div>
    </div>
</section>
<section class="sleeves-section">
    <div class="sleeves-container">
        <div class="sleeves">
            @foreach (Sleeve sleeve in Model.Sleeves.ToList())
            {
                SleeveAngle += 5;
                @Html.Partial("_SleeveSummary", new KeyValuePair<Sleeve, Double>(sleeve, SleeveAngle))
            }
        </div>
    </div>
    <div class="someElem" style="display:none;"></div>
</section>

<script>
    window.onload = function (ul) {
        $(function () {
            $("#searchForGame").autocomplete({
                source: '@Url.Action("GetGames")',
                minLength: 1,
                classes: {
                    "ui-autocomplete": "highlight"
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $("#searchForGame").val(ui.item.label);
                    var id = ui.item.value;
                    $('.sleeve').each(function () {
                        $(this).css({
                            'top': 0
                        });
                        $(this).find('.sleeve-overlay').css({
                            'background-color': 'rgba(0,0,0,.5)',
                            'border-color': '#000'
                        });
                        if ($(this).attr('data-id') == id) {
                            $(this).css({
                                'top': -70
                            });
                            $(this).find('.sleeve-overlay').css({
                                'background-color': 'rgba(255,255,255,.2)',
                                'border-color': '#FFF'
                            });
                        }
                    });
                }
            }).focus(function() {
                $('.sleeves-section').find('.sleeve-overlay').css({
                    'background-color': 'rgba(0,0,0,.5)',
                    'border-color': '#000'
                });
            }).blur(function () {
                $('.sleeves-section').find('.sleeve').css('top', 0).find('.sleeve-overlay').css({
                    'background-color': 'rgba(255,255,255,.2)',
                    'border-color': '#FFF'
                });
            }).data("ui-autocomplete")._renderItem = function(ul, item) {
                return $("<li>").append("<a class=\"js-game\" data-id=\"" + item.value + "\">" + item.label + "</a>").appendTo(ul);
            }
        });
    };
</script>

