* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html {
	
}

html, body {
	@media screen and (min-width: 768px) {
	height: 100%;

	}
}
body {
	padding: 0;
	background:
	linear-gradient(
		rgba(0,0,0,.6),
		rgba(0,0,0,.6)
		),
	url('../img/background.jpg');
	@media screen and (max-width: 767px) {

		background-size: cover;
		background-repeat: no-repeat;
	}
}
