h2 {
  text-align: center;
}

form {

  margin: auto;
  position: relative;
  width: 550px;
  height: 450px;
  font-family: 'Kiye', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  // border: inset 1px solid #333; 
  background-color: rgba(0,0,0,.2);

}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  background-color: rgba(0,0,0,.2);
  color: white;
  border-radius: 4px;
}

textarea#feedback {
  width: 375px;
  height: 150px;
  display: block;
  background-color: rgba(0,0,0,.2);
}

button {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: 'Kiye', sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
}

input.button:hover {
  background: #fff;
  color: #09C;
}