form {
	> div {
		&.form-h {
			.input-field {
				@extend .clearfix;
				label {
					padding: .5em;
					display: block;
					width: 30%;
					float: left;
				}
				> div {
					display: block;
					width: 70%;
					float: left;
				}
			}
		}
	}
}