div.form {
	padding: 1em;
	background-color: white;
	border-radius: 10px;
	form {
		> div {
			padding: 1em;
			border-radius: 10px;
			border: 1px solid $blue;
			label {
				padding: .5em 0;
				display: inline-block;
				width: 20%;
			}
			input[type=text], input[type=number] {
				width: 30%;
			}
		}
		.link-bar {
			border: none;
			padding-bottom: 0;
		}
	}
}