nav {
	ul {
		li {
			display: inline-block;
			padding: 0 40px;
			a {
				padding: 12px 0;
				color: #fff;
				font-size: 1.571429em;
				text-decoration: none;
				text-transform: uppercase;
				&.active {
					text-decoration: underline;
				}
				&:hover {
					border-bottom: 3px solid $blue; 
				}
			}
		}
	}
}