.search-form {
	margin: 0 auto;
	width: 690px;
	h2 {
		margin-bottom: 36px;
		color: $white;
		text-shadow:
		   -3px -3px 0 $dark-grey,  
		    3px -3px 0 $dark-grey,
		    -3px 3px 0 $dark-grey,
		     3px 3px 0 $dark-grey;
		font-weight: 900;
		text-align: center;
	}
}