.section {
	position:relative;
	> h2 {
		margin-top: 60px;
		margin-bottom: 12px;
		text-align: center;
	}
	> h3 {
		margin-bottom: 12px;
		text-align: center;
	}

	&.section-table {
		.table {
			margin: 0 auto;
			display: table;
			padding: 1em;
			background-color: white;
			border-radius: 10px;
			p {
				margin-bottom: 1em;
				padding-left: 1em;
				padding-right: 1em;
				text-align: right;
			}

			div {
				padding: 1em;
				border: 1px solid $blue;
				border-radius: 10px;
				table {

					tbody {
						tr {
							th {
								padding: 4px 6px;
								font-weight: 900;
								text-align: left;
								&:first-child {
									padding-left: 0;
								}
								&:last-child {
									padding-right: 0;
								}
							}
							td {
								padding: 4px 6px;
								&:first-child {
									padding-left: 0;
								}
								&:last-child {
									padding-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	&.section-dl {

		.dl {
			margin: auto;
			padding: 1em;
			width: 690px;
			background-color: white;
			border-radius: 10px;
			> div {
				padding: 1em;
				border: 1px solid $blue;
				border-radius: 10px;
				dl {
					// overflow: auto;
					zoom: 1;
					dt {
						display: inline-block;
						margin: .25em -.125em;
						padding-right: 1em;
						width: 30%;
						font-weight: 900;
						text-align: right;
					}
					dd {
						margin: .25em -.125em;
						width: 70%;
						display: inline-block;
						&:after {
							content: "\A";
							white-space: pre;
						}
					}
				}
			}
		}
		.link-bar {
			padding-bottom: 0;
		}
	}
	&.section-sleeve-list {
		.sleeve {
			&:hover {
				top: 0 !important;
			}
			.card {
				height: 296px;
				top: 0;
			}
		}
	}
}
