.sleeves-section {
	position: fixed;
	bottom: -190px;
	text-align: center;
	width: 100%;
	> div.sleeves-container {
		display: inline-block;
		.sleeves {
			display: inline-block;
			.sleeve {
				&:hover {
					@extend .is-focus;
				}
			}
		}
	}
	h2 {
		text-align: center;
		color: $white;
		margin-bottom: 50px;
		font-weight: 900;
		@include text-border(3px, $dark-grey);
	}
}
.sleeve {
	position: relative;
	float: left;
	top: 0;
	margin-right: -50px;
	padding: 4px;
	text-align: center;
	-webkit-transition: top .3s;
	transition: top .3s, z-index .3s;
	z-index: 30000;
	text-decoration: none;
	&:visited {
		text-decoration: none;
	}
	&:last-child {
		margin-right: 0;
	}
	.sleeve-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-top: 1px solid white;
		border-left: 1px solid white;
		background: rgba(255, 255, 255, 0.2);
		z-index: 2;
		@include prefix(transition, background-color .5s, border-color .5s);
	}
	> .card {
		position: relative;
		display: block;
		background-color: $white;
		background-repeat: no-repeat;
		background-size: 100%;
		border: 10px solid $white;
		border-radius: 20px;
		h3 {
			margin-top: 24px;		
		}
		img {
			margin-top: 12px;
			width: 90px;
			height: auto;
		}
	}
}