.sleeve-preview {
	display: table;
	margin: 0 auto;
	padding: 60px;
	width: auto;
	max-width: 100%;
	overflow: auto;
	.sleeve {
		display: table-cell;
		margin-right: 50px;
		float: none;
		&:hover {
			top: 0;
		}
	}
	.sleeve-info-container {
		display: table-cell;
		padding-left: 50px;
		width: 300px;
		height: 100%;
		vertical-align: middle;
		.sleeve-info {
			display: inline-block;
			padding: 12px;
			background-color: rgba(200,200,200,1);
			border-radius: 5px;
			> div {
				padding: 12px;
				border: 1px solid $blue;
				border-radius: 5px;	
				h4 {
					font-size: 1.3em;
					display: block;
					margin-bottom: 0px;
					font-weight: 900;
				}
				p {
					margin-bottom: 12px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}