section {
	.sleeves {
		text-align: center;
		.sleeve {
			display: inline-block;
			margin-right: -100px;
			&:last-child {
				margin-right: 0;
			}
			> div {
				display: inline-block;
			}
		}
	}
}