.sleeves-section {
	position: absolute;
	bottom: -200px;
	text-align: center;
	width: 100%;
	> div.sleeves-container {
		display: inline-block;
		.sleeves {
			display: inline-block;
		}
	}
	h2 {
		text-align: center;
		color: $white;
		margin-bottom: 50px;
		font-weight: 900;
		@include text-border(3px, $dark-grey);
	}
}
.sleeve {
	position: relative;
	float: left;
	top: 0;
	margin-right: -50px;
	padding: 4px;
	text-align: center;
	background-color: rgba(255,255,255,.6);
	border-left-width: 1px;
	border-top-width: 1px;
	border-style: solid;
	border-color: white;
	-webkit-transition: top 2s;
	transition: top .3s, z-index .3s;
	z-index: 30000;
	&:hover {
		top: -30px;
	}
	&:last-child {
		margin-right: 0;
	}
	> .card {
		position: relative;
		display: block;
		background-color: $white;
		background-repeat: no-repeat;
		background-size: 100%;
		border: 10px solid $white;
		border-radius: 20px;
		h3 {
			margin-top: 24px;		
		}
		img {
			margin-top: 12px;
			width: 90px;
			height: auto;
		}
	}
}